@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/GothamHTF-Light.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/GothamHTF-Black.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/GothamHTF-Book.otf");
  font-weight: 300;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Gotham", "Helvetica", sans-serif;
}

body {
  padding: 10px;
}

p {
  font-size: 1em;
  word-wrap: break-word;
}

p.first {
  margin-top: 1em;
}

.italic {
  font-style: italic;
}

a {
  color: black;
}

canvas#bg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  display: block;
}

.logo-container {
  width: 100%;
  height: auto;
  float: left;
}

.logo {
  width: 100%;
  height: auto;
}

.intro-container {
  width: 100%;
  float: left;
}

.inner-intro-container {
  padding: 1em;
}

input {
  border: 0;
  margin-bottom: 1em;
  background: none;
  font-size: 1em;
  width: 80%;

  transition: padding-right .3s;
  -webkit-transition: padding-right .3s;
  -moz-transition: padding-right .3s;
  -ms-transition: padding-right .3s;
  -o-transition: padding-right .3s;

  border-bottom: 5px solid black;
  padding: 10px;
}

input[type="submit"] {
  border: 5px solid black;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:active {
  background-color: black;
  color: white;
}

input:hover, input:focus {
  outline: 0;
}

input:focus, input:active {
  padding-right: 20px;
}

@media (min-width: 48em) {
  p {
    font-size: 1.5em;
  }

  p.first {
    margin-top: 5px;
  }

  .logo-container {
    width: 40%;
    position: relative;
    display: block;
    height: 1;
  }

  .logo-container img {
    width: 40%;
    position: fixed;
  }

  .intro-container {
    width: 50%;
  }

  input {
    width: 350px;
    display: block;
  }

  .inner-intro-container {
    padding: 1.5em;
  }
}
